html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 870px 284px 1fr;
  grid-template-rows: 700px min-content auto 0px;
  row-gap: 32px;
  column-gap: 16px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  justify-content: center;
  align-items: center;
}

#logo {
  padding: 1em;
}

#links {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  background-color: black;
  color: white;
  justify-content: center;
  display: flex;
  font-size: 20px;
}

#links a {
  padding: 1em;
  display: inline-block;
  user-select: none;
  text-transform: uppercase;
}

#page {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#sidebar {
  grid-row: 3/4;
  grid-column: 3/4;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
