/* 
  Styles for resturant-website
*/

/* 
  Contents:

  1. Global
  2. Layout
    a. Home
    b. Book a table
    c. Menu
  3. Navigation
    a. Home
    b. Other
  
*/

/* 
  1. Global
*/
html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* 2. Layout */

/* 2.a. Home */

#bodyHome {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 870px 284px 1fr;
  grid-template-rows: 700px min-content 80vh 0px;
  row-gap: 32px;
  column-gap: 16px;
  background-color: white;
}

#hero {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/restaurang-bg.jpg");
  height: 700px;
}

#subtitle {
  color: white;
}

.parallax::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 700px;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

#logo {
  color: white;
  font-size: 3em;
}

#links {
  margin-top: -32px;
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  background-color: black;
  color: white;
  justify-content: center;
  display: flex;
  font-size: 20px;
}

#links a {
  padding: 1em;
  display: inline-block;
  user-select: none;
  text-transform: uppercase;
}

#page {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#sidebar {
  grid-row: 3/4;
  grid-column: 3/4;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
